<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CO:SI</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
    </style>
    <link rel="stylesheet" th:href="@{/css/email-confirmation.css}">

</head>
<body>

<div class="name">
    <a href="/">CO:SI</a>
</div>

<div class="complete">
    <br><br>
    <p th:utext="${msg}"></p>
</div>

<!--<div class="sayhello">-->
<!--    CO:SI의 모든 모의투자 서비스를 이용하실 수 있습니다. <br>-->
<!--    CO:SI를 이용해 주셔서 감사합니다.-->
<!--</div>-->

<!--<div class="date">-->

<!--    <div class="date1">가입 날짜 : </div>-->
<!--    <div id="current_date" class="date1">-->
<!--        <script>-->

<!--            date = new Date();-->
<!--            year = date.getFullYear();-->
<!--            month = date.getMonth() + 1;-->
<!--            day = date.getDate();-->

<!--            document.getElementById("current_date").innerHTML = year + "년 " + month + "월 " + day + "일" ;-->

<!--        </script>-->
<!--    </div>-->

<!--</div>-->
</body>
</html>